{
  "openapi": "3.0.0",
  "info": {
    "title": "Seladaku IoT API Documentation",
    "version": "1.3.0",
    "description": "Dokumentasi API untuk sistem monitoring hidroponik Seladaku. Mencakup integrasi profil user, manajemen area kebun, koordinat GPS, kontrol tandon modular, dan grafik riwayat sensor historis."
  },
  "servers": [
    {
      "url": "https://seladaku.kodetalma.my.id",
      "description": "Production Server (VPS)"
    },
    {
      "url": "http://localhost:3000",
      "description": "Development server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id_user": { "type": "integer", "example": 1 },
          "nama": { "type": "string", "example": "Tunggul Majid" },
          "email": { "type": "string", "example": "tunggul@unej.ac.id" },
          "nomor_telepon": { "type": "string", "example": "08123456789" },
          "alamat": {
            "type": "string",
            "example": "Jl. Kalimantan No. 37, Jember"
          },
          "id_telegram": { "type": "string", "example": "123456789" },
          "latitude": {
            "type": "number",
            "format": "float",
            "example": -8.1724
          },
          "longitude": {
            "type": "number",
            "format": "float",
            "example": 113.7005
          },
          "foto": {
            "type": "string",
            "example": "https://res.cloudinary.com/..."
          }
        }
      },
      "Area": {
        "type": "object",
        "properties": {
          "id_area": { "type": "integer", "example": 10 },
          "nama": { "type": "string", "example": "Kebun Depan" },
          "status": { "type": "boolean", "example": true },
          "total_tandon": { "type": "integer", "example": 2 },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "Tandon": {
        "type": "object",
        "properties": {
          "id_tandon": { "type": "integer", "example": 5 },
          "nama_tandon": { "type": "string", "example": "Tunggul" },
          "tanggal_tanam": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-03T17:00:00.000Z"
          },
          "id_area": { "type": "integer", "example": 26 },
          "device_id": { "type": "string", "example": "D1" },
          "tinggi_tandon": { "type": "integer", "example": 50 },
          "jarak_aman": { "type": "integer", "example": 20 },
          "mode_otomatis": { "type": "integer", "example": 0 },
          "is_notif_aktif": { "type": "integer", "example": 0 },
          "status_s1": { "type": "string", "example": "OFF" },
          "status_s2": { "type": "string", "example": "OFF" },
          "status_pompa": { "type": "string", "example": "OFF" },
          "min_ph": { "type": "number", "example": 5.5 },
          "max_ph": { "type": "number", "example": 8.5 },
          "min_ppm": { "type": "integer", "example": 450 },
          "max_ppm": { "type": "integer", "example": 850 },
          "min_volume": { "type": "number", "example": 0.3 },
          "created_at": { "type": "string", "format": "date-time" },
          "update_at": { "type": "string", "format": "date-time" },
          "last_seen": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ph": { "type": "number", "nullable": true },
          "ppm": { "type": "number", "nullable": true },
          "volume_air": { "type": "number", "nullable": true },
          "is_hujan": { "type": "integer", "nullable": true }
        }
      },
      "RiwayatGrafik": {
        "type": "object",
        "properties": {
          "x_label": {
            "type": "string",
            "description": "Label waktu pada sumbu X grafik (Jam/Hari/Tanggal)",
            "example": "Sen"
          },
          "ph": {
            "type": "number",
            "format": "float",
            "description": "Rata-rata nilai pH air",
            "example": 5.85
          },
          "ppm": {
            "type": "integer",
            "description": "Rata-rata kepekatan nutrisi PPM",
            "example": 730
          },
          "volume": {
            "type": "integer",
            "description": "Rata-rata volume kapasitas air (%)",
            "example": 74
          }
        }
      }
    }
  },
  "paths": {
    "/api/auth/register": {
      "post": {
        "tags": ["Auth"],
        "summary": "Registrasi user baru",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["nama", "email", "password"],
                "properties": {
                  "nama": { "type": "string", "example": "Tunggul Majid" },
                  "email": {
                    "type": "string",
                    "example": "tunggul@unej.ac.id"
                  },
                  "password": { "type": "string", "example": "password123" }
                }
              }
            }
          }
        },
        "responses": { "201": { "description": "Berhasil registrasi" } }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": ["Auth"],
        "summary": "Login user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "tunggul@unej.ac.id"
                  },
                  "password": { "type": "string", "example": "password123" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Login Berhasil" } }
      }
    },
    "/api/auth/update-profile": {
      "put": {
        "tags": ["Auth"],
        "summary": "Update data profil & foto",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "nama": { "type": "string" },
                  "email": { "type": "string" },
                  "nomorTelepon": { "type": "string" },
                  "alamat": { "type": "string" },
                  "idTelegram": { "type": "string" },
                  "lat": { "type": "number", "format": "float" },
                  "lon": { "type": "number", "format": "float" },
                  "foto": { "type": "string", "format": "binary" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Profil Berhasil Diperbarui" } }
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": ["Auth"],
        "summary": "Ambil profil user login",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/api/auth/refresh": {
      "post": {
        "tags": ["Auth"],
        "summary": "Refresh Access Token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": { "token": { "type": "string" } }
              }
            }
          }
        },
        "responses": { "200": { "description": "Token baru berhasil dibuat" } }
      }
    },
    "/api/auth/logout": {
      "delete": {
        "tags": ["Auth"],
        "summary": "Logout user",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "Logout Berhasil" } }
      }
    },
    "/api/area": {
      "get": {
        "tags": ["Area"],
        "summary": "Ambil semua area milik user (Halaman Kebunku)",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Daftar area berhasil diambil",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Area" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Area"],
        "summary": "Tambah area/kebun baru",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["nama"],
                "properties": {
                  "nama": { "type": "string", "example": "Kebun Samping" }
                }
              }
            }
          }
        },
        "responses": { "201": { "description": "Area Berhasil Dibuat" } }
      }
    },
    "/api/area/{id_area}": {
      "put": {
        "tags": ["Area"],
        "summary": "Update data area (Nama/Status)",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id_area",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nama": {
                    "type": "string",
                    "example": "Kebun Depan Updated"
                  },
                  "status": { "type": "boolean", "example": false }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Berhasil Update" } }
      },
      "delete": {
        "tags": ["Area"],
        "summary": "Hapus area",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id_area",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": { "200": { "description": "Berhasil Hapus" } }
      }
    },
    "/api/tandon": {
      "post": {
        "tags": ["Tandon"],
        "summary": "Tambah tandon baru",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["nama_tandon", "id_area", "device_id"],
                "properties": {
                  "nama_tandon": { "type": "string" },
                  "tanggal_tanam": { "type": "string", "format": "date" },
                  "id_area": { "type": "integer" },
                  "device_id": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": { "201": { "description": "Tandon Berhasil Dibuat" } }
      }
    },
    "/api/tandon/pair-device/{id}": {
      "post": {
        "tags": ["Tandon"],
        "summary": "Pairing hardware ke tandon spesifik",
        "description": "Menghubungkan device_id (dari hardware ESP32/ESP8266) ke id_tandon tertentu. Memvalidasi apakah device_id terdaftar di tabel device resmi.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID Tandon yang akan dipasangkan perangkat",
            "required": true,
            "schema": { "type": "integer", "example": 5 }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["device_id"],
                "properties": {
                  "device_id": {
                    "type": "string",
                    "example": "D1",
                    "description": "ID unik dari hardware (bisa didapat dari scan QR)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Perangkat berhasil dipasangkan",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "message": {
                      "type": "string",
                      "example": "Perangkat berhasil dipasangkan ke tandon ini!"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error validasi (Device tidak terdaftar atau sudah digunakan)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": {
                      "type": "string",
                      "example": "Hardware ini sudah digunakan oleh tandon lain!"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/tandon/area/{id_area}": {
      "get": {
        "tags": ["Tandon"],
        "summary": "Daftar tandon per area (Dashboard)",
        "description": "Menampilkan data tandon beserta log sensor paling baru.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id_area",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Tandon" }
                }
              }
            }
          }
        }
      }
    },
    "/api/tandon/{id}": {
      "get": {
        "tags": ["Tandon"],
        "summary": "Detail satu tandon",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": { "200": { "description": "Success" } }
      },
      "patch": {
        "tags": ["Tandon"],
        "summary": "Update Modular (PATCH)",
        "description": "Update partial untuk toggle hardware atau parameter nutrisi.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nama_tandon": { "type": "string" },
                  "status_pompa": {
                    "type": "string",
                    "enum": ["hidup", "mati"]
                  },
                  "mode_otomatis": { "type": "boolean" },
                  "min_ph": { "type": "number" },
                  "max_ph": { "type": "number" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Update Berhasil" } }
      },
      "delete": {
        "tags": ["Tandon"],
        "summary": "Hapus tandon",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": { "200": { "description": "Berhasil Hapus" } }
      }
    },
    "/api/dashboard/summary": {
      "get": {
        "tags": ["Dashboard"],
        "summary": "get summary dashboard",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "Data summary dashboard berhasil didapatkan" }
        }
      }
    },
    "/api/riwayat/grafik/{id_tandon}": {
      "get": {
        "tags": ["Riwayat"],
        "summary": "Ambil log sensor agregasi untuk visualisasi fl_chart",
        "description": "Menyajikan log rata-rata terkompresi berdasarkan rentang waktu harian (per jam), mingguan (per nama hari), atau bulanan (per tanggal).",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id_tandon",
            "in": "path",
            "description": "ID Tandon target yang ingin dianalisis histori riwayatnya",
            "required": true,
            "schema": { "type": "integer", "example": 11 }
          },
          {
            "name": "range",
            "in": "query",
            "description": "Rentang batasan filter agregasi grafik",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["harian", "mingguan", "bulanan"],
              "default": "harian"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data agregasi historis sensor berhasil dihitung",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "message": {
                      "type": "string",
                      "example": "Data riwayat mingguan berhasil didapatkan"
                    },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/RiwayatGrafik" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
